body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 16px;
}

/* ------------------------------------------- Titles ----------------- */
h1 {
  margin-block-start: 20px;
  font-size: 2.25rem;
  font-weight: 800;
  letter-spacing: -0.02em;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}
h2 {
  margin-top: 190px !important;
  margin-block-start: 20px;
  border-bottom: 0.1px solid rgb(232, 232, 232);
  padding-bottom: 0.5rem;
  font-size: 1.875rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  transition: color 0.2s ease;
}
h2:first-of-type {
  margin-top: 0;
}
h3 {
  margin-top: 2rem;
  margin-block-start: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.02em;
}

/* ------------------------------------------- Text ----------------- */
p {
  line-height: 28px;
}
p:not(:first-child) {
  margin-top: 12px;
}
a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

/* ------------------------------------------- Lists ----------------- */
ul {
  margin: 1.5rem 0;
  margin-left: 1.5rem;
  list-style-type: disc;
}
ul > li {
  margin-top: 0.5rem;
}

/* ------------------------------------------- Buttons used for tabs ----------------- */
.nav-pills .nav-link {
  color: var(--primary-color);
  background-color: white;
  border-color: var(--primary-color);
  border-radius: 4px;
}
.nav-pills .nav-link.active {
  color: white;
  background-color: var(--primary-color);
}
.nav-pills .nav-link {
  padding: 5px;
  margin-right: 4px;
}
ul.nav.nav-tabs {
  margin: 0px;
  border: none;
}
.tab-content {
  border: none;
  margin-top: 10px;
  padding: 0px;
}

/* ------------------------------------------- Table of content ----------------- */
.sidebar nav[role="doc-toc"] ul > li > a.active,
.sidebar nav[role="doc-toc"] ul > li > ul > li > a.active {
  border-left: 1px solid var(--primary-color);
  color: var(--primary-color) !important;
}
#TOC {
  top: 50%;
  position: relative;
  transform: translate(0, -50%);
}

/* ------------------------------------------- Horizontal separator ----------------- */
hr {
  margin-top: 23px;
  margin-bottom: 23px;
  border: 0;
  border-top: 1px solid black;
  width: 0;
  animation: separator-width 2s ease-in-out forwards;
}
@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 200px;
  }
}

/* ------------------------------------------- Footer ----------------- */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* ------------------------------------------- DT table: smaller font ----------------- */
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 6px 10px;
  font-size: 12px;
}

/* ------------------------------------------- Callout ----------------- */
div.callout.callout {
  border: none;
  padding: 0.4em 0.7em;
  border-left: var(--primary-color) 4px solid;
  background-color: color-mix(in srgb, var(--primary-color), transparent 95%);
  border-radius: 0px;
}

button {
  color: var(--primary-color);
  background-color: white;
  border: var(--primary-color) 1px solid;
  border-radius: 1px;
}

.grey-section {
  background-color: #f8f9fa;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
