#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-color: red;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
